<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Multi Disease Prediction</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/assets/css/custom.css">
  <link rel="stylesheet" href="static/assets/css/form.css">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name"><a href="/"> Disease Prediction</a></div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="db_form">
          <i class="uil uil-medical-drip"></i>
          <span class="links_name">Diabetes Prediction</span>
        </a>
         <span class="tooltip">Diabetes Prediction</span>
      </li>
      <li>
       <a href="hd_form">
         <i class="uil uil-heartbeat"></i>
         <span class="links_name">Heart Disease Prediction</span>
       </a>
       <span class="tooltip">Heart Disease Prediction</span>
     </li>
     <li>
       <a href="pk_form">
         <i class="uil uil-bed"></i>
         <span class="links_name">Parkinson's Disease</span>
       </a>
       <span class="tooltip">Parkinson's Disease</span>
     </li>
     <li>
       <a href="od_form">
         <i class="uil uil-medkit"></i>
         <span class="links_name">Other Diseases</span>
       </a>
       <span class="tooltip">Other Diseases</span>
     </li>

    </ul>
  </div>
    <section class="home-section">
      <div class="text"><a href="/"> Disease Prediction</a></div>

      <div class="container">
        <header>Heart Disease Prediction</header>

        <form action="{{ url_for('hd_form')}}" method="post">
<!--            <div class="form first">-->
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label for="fullname">Full Name</label>
                            <input type="text" id="fullname" name="fullname"placeholder="Enter your name" value="Prathamesh Parit" required>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title">Medical Report</span>

                    <div class="fields">

                        <div class="input-field">
                            <label for="age">Age</label>
                            <input type="text" id="age" name="age" type="number" placeholder="Enter no. of Age" value="63" required>
                        </div>

                        <div class="input-field">
                            <label for="sex">Sex</label>
                            <input type="text" id="sex" name="sex" type="text" placeholder="Enter Sex level" value="1" required>
                        </div>

                        <div class="input-field">
                            <label for="cp">cp</label>
                            <input type="text" id="cp" name="cp" type="text" placeholder="Enter CP level" value="3" required>
                        </div>

                        <div class="input-field">
                            <label for="trestbps">trestbps</label>
                            <input type="text" id="trestbps" name="trestbps" type="text" placeholder="Enter trestbps value" value="145" required>
                        </div>

                        <div class="input-field">
                            <label for="chol">chol</label>
                            <input type="text" id="chol" name="chol" type="text" placeholder="Enter chol level" value="233" required>
                        </div>

                        <div class="input-field">
                            <label for="fbs">fbs</label>
                            <input type="text" id="fbs" name="fbs" type="text" placeholder="Enter fbs value" value="1" required>
                        </div>

                        <div class="input-field">
                            <label for="restecg">restecg</label>
                            <input type="text" id="restecg" name="restecg" type="text" placeholder="Enter restecg value" value="0" required>
                        </div>

                        <div class="input-field">
                            <label for="thalach">thalach</label>
                            <input type="text" id="thalach" name="thalach" type="text" placeholder="Enter thalach value" value="150" required>
                        </div>

                        <div class="input-field">
                            <label for="exang">exang</label>
                            <input type="text" id="exang" name="exang" type="text" placeholder="Enter exang value" value="0" required>
                        </div>

                        <div class="input-field">
                            <label for="oldpeak">oldpeak</label>
                            <input type="text" id="oldpeak" name="oldpeak" type="text" placeholder="Enter oldpeak value" value="2.3" required>
                        </div>

                        <div class="input-field">
                            <label for="slope">slope</label>
                            <input type="text" id="slope" name="slope" type="text" placeholder="Enter slope value" value="0" required>
                        </div>

                        <div class="input-field">
                            <label for="ca">ca</label>
                            <input type="text" id="ca" name="ca" type="text" placeholder="Enter ca value" value="0" required>
                        </div>

                        <div class="input-field">
                            <label for="thal">thal</label>
                            <input type="text" id="thal" name="thal" type="text" placeholder="Enter thal value" value="1" required>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="static/js/form.js"></script>


  </section>
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
</body>
</html>





















