<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Multi Disease Prediction</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/assets/css/custom.css">
  <link rel="stylesheet" href="static/assets/css/form.css">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name"><a href="/"> Disease Prediction</a></div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="db_form">
          <i class="uil uil-medical-drip"></i>
          <span class="links_name">Diabetes Prediction</span>
        </a>
         <span class="tooltip">Diabetes Prediction</span>
      </li>
      <li>
       <a href="hd_form">
         <i class="uil uil-heartbeat"></i>
         <span class="links_name">Heart Disease Prediction</span>
       </a>
       <span class="tooltip">Heart Disease Prediction</span>
     </li>
     <li>
       <a href="pk_form">
         <i class="uil uil-bed"></i>
         <span class="links_name">Parkinson's Disease</span>
       </a>
       <span class="tooltip">Parkinson's Disease</span>
     </li>
     <li>
       <a href="od_form">
         <i class="uil uil-medkit"></i>
         <span class="links_name">Other Diseases</span>
       </a>
       <span class="tooltip">Other Diseases</span>
     </li>

    </ul>
  </div>
    <section class="home-section">
      <div class="text"><a href="/"> Disease Prediction</a></div>

      <div class="container">
        <header>Parkinson's Prediction</header>

        <form action="{{ url_for('pk_form')}}" method="post">
<!--            <div class="form first">-->
                <div class="details personal">
                    <span class="title">Personal Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label for="fullname">Full Name</label>
                            <input type="text" id="fullname" name="fullname"placeholder="Enter your name" value="Prathamesh Parit" required>>
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <span class="title">Medical Report</span>

                    <div class="fields">

                        <div class="input-field">
                            <label for="1">MDVP:Fo(Hz)</label>
                            <input type="text" id="1" name="1" type="number" placeholder="Enter MDVP:Fo(Hz)" value="119.992" required>
                        </div>

                        <div class="input-field">
                            <label for="2">MDVP:Fhi(Hz)</label>
                            <input type="text" id="2" name="2" type="text" placeholder="Enter MDVP:Fhi(Hz)" value="157.302" required>
                        </div>

                        <div class="input-field">
                            <label for="3">MDVP:Flo(Hz)</label>
                            <input type="text" id="3" name="3" type="text" placeholder="Enter MDVP:Flo(Hz)" value="74.997" required>
                        </div>

                        <div class="input-field">
                            <label for="4">MDVP:Jitter(%)</label>
                            <input type="text" id="4" name="4" type="text" placeholder="Enter MDVP:Jitter(%)" value="0.00784" required>
                        </div>

                        <div class="input-field">
                            <label for="5">MDVP:Jitter(Abs)</label>
                            <input type="text" id="5" name="5" type="text" placeholder="Enter MDVP:Jitter(Abs)" value="0.00007" required>
                        </div>

                        <div class="input-field">
                            <label for="6">MDVP:RAP </label>
                            <input type="text" id="6" name="6" type="text" placeholder="Enter MDVP:RAP" value="0.0037" required>
                        </div>

                        <div class="input-field">
                            <label for="7">MDVP:PPQ </label>
                            <input type="text" id="7" name="7" type="text" placeholder="Enter MDVP:PPQ" value="0.00554" required>
                        </div>

                        <div class="input-field">
                            <label for="8">Jitter:DDP</label>
                            <input type="text" id="8" name="8" type="text" placeholder="Enter Jitter:DDP" value="0.01109" required>
                        </div>

                        <div class="input-field">
                            <label for="9">MDVP:Shimmer</label>
                            <input type="text" id="9" name="9" type="text" placeholder="Enter MDVP:Shimmer" value="0.04374" required>
                        </div>

                        <div class="input-field">
                            <label for="10">MDVP:Shimmer(dB)</label>
                            <input type="text" id="10" name="10" type="text" placeholder="Enter MDVP:Shimmer(dB)" value="0.426" required>
                        </div>

                        <div class="input-field">
                            <label for="11">Shimmer:APQ3</label>
                            <input type="text" id="11" name="11" type="text" placeholder="Enter Shimmer:APQ3" value="0.02182" required>
                        </div>

                        <div class="input-field">
                            <label for="12">Shimmer:APQ5</label>
                            <input type="text" id="12" name="12" type="text" placeholder="Enter Shimmer:APQ5" value="0.0313" required>
                        </div>

                        <div class="input-field">
                            <label for="13">MDVP:APQ</label>
                            <input type="text" id="13" name="13" type="text" placeholder="Enter MDVP:APQ" value="0.02971" required>
                        </div>

                        <div class="input-field">
                            <label for="14">Shimmer:DDA</label>
                            <input type="text" id="14" name="14" type="text" placeholder="Enter Shimmer:DDA" value="0.06545" required>
                        </div>

                        <div class="input-field">
                            <label for="15">NHR</label>
                            <input type="text" id="15" name="15" type="text" placeholder="Enter NHR" value="0.02211" required>
                        </div>

                        <div class="input-field">
                            <label for="16">HNR</label>
                            <input type="text" id="16" name="16" type="text" placeholder="Enter HNR" value="21.033" required>
                        </div>

                        <div class="input-field">
                            <label for="17">RPDE </label>
                            <input type="text" id="17" name="17" type="text" placeholder="Enter RPDE" value="0.414783" required>
                        </div>

                        <div class="input-field">
                            <label for="18">DFA</label>
                            <input type="text" id="18" name="18" type="text" placeholder="Enter DFA" value="0.815285" required>
                        </div>

                        <div class="input-field">
                            <label for="19">spread1</label>
                            <input type="text" id="19" name="19" type="text" placeholder="Enter spread1" value="0.266482" required>
                        </div>

                        <div class="input-field">
                            <label for="20">spread2</label>
                            <input type="text" id="20" name="20" type="text" placeholder="Enter spread2" value="0.266482" required>
                        </div>

                        <div class="input-field">
                            <label for="21">D2</label>
                            <input type="text" id="21" name="21" type="text" placeholder="Enter D2" value="2.301442" required>
                        </div>

                        <div class="input-field">
                            <label for="22">PPE</label>
                            <input type="text" id="22" name="22" type="text" placeholder="Enter PPE" value="0.284654" required>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="sumbit">
                            <span class="btnText">Submit</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="static/js/form.js"></script>


  </section>
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let searchBtn = document.querySelector(".bx-search");

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  </script>
</body>
</html>
